<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>Customer App</p>
      <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">FirstName</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="newFirstName" name="first">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label">

            <label>LastName</label>
          </div>
          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="newLastName" name="last">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label">
            <label>Email</label>
          </div>
          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="newEmail" name="email">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label">
            <label>Salary</label>
          </div>
          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="newSalary" name="salary">
          </div>
        </div>
        <div class="form-group row">
        <br>
        <button
          class="btn btn-primary"
          (click)="onAddCustomer()">Add Customer
        </button>

      </div>
      </form>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <div
          class="panel panel-default"
          *ngFor="let customer of serverElements">
          <div class="panel-heading">{{ "FirstName:  " +customer.FirstName }},{{ "LastName:  "+customer.LastName }},
            {{ "Email:  "+customer.Email }},{{ "Salary:  "+customer.Salary }}</div>

        </div>
      </div>
    </div>
  </div>
</div>
